<meta charset="UTF-8"></meta>
<script src="../pollyfills.js"></script>
<script src="../header.js"></script>
<script src="../i18n.js"></script>
<script src="../schema-resolver.js"></script>
<script src="../form.js"></script>

<script src="prototype.js"></script>
<script src="array.js"></script>
<script src="simple.js"></script>

<script src="renderers/prototype.js"></script>
<script src="renderers/array.js"></script>
<script src="renderers/simple.js"></script>
<body>
    <div id="container1"></div>
    <div id="container2"></div>
    <div id="container3"></div>
    <div id="container4"></div>
</body>
<script>
    function callback(errors) {
        if (errors) {
            console.log(JSON.stringify(errors));
        } else {
            console.log("ok");
        }
    }
    var component1;
    var schemaResolver1 = new BrutusinForms.factories.schemaResolver;
    schemaResolver1.init({"type": "array", "items": {"type": "integer"}});
    var componentFactory1 = function (schemaId, callback) {
        var typeFactories = {};
        var rendererFactories = {};
        for (var prop in BrutusinForms.factories.typeComponents) {
            if (BrutusinForms.factories.typeComponents[prop]) {
                typeFactories[prop] = BrutusinForms.factories.typeComponents[prop];
            }
        }
        for (var prop in BrutusinForms.factories.renderers) {
            if (BrutusinForms.factories.renderers[prop]) {
                rendererFactories[prop] = BrutusinForms.factories.renderers[prop];
            }
        }
        var listener = function (schema) {
            if (!schema) {
                return;
            }
            if (schema.hasOwnProperty("type")) {
                if (typeFactories.hasOwnProperty(schema.type)) {
                    var component = new typeFactories[schema.type];
                    var renderer = new rendererFactories[schema.type];
                    component.init(schemaId, schemaResolver1, componentFactory1, renderer);
                    schemaResolver1.removeListener(schemaId, listener);
                    callback(component);
                } else {
                    throw "Component factory not found for schemas of type '" + schema.type + "'";
                }
            } else if (schema.hasOwnProperty("oneOf")) {
                var component = new typeFactories["oneOf"];
                var renderer = new rendererFactories["oneOf"];
                component.init(schemaId, schemaResolver1, componentFactory1, renderer);
                schemaResolver1.removeListener(schemaId, listener);
                callback(component);
            } else {
                throw "Component factory not found a valid schema for id '" + schemaId + "'";
            }
        };
        schemaResolver1.addListener(schemaId, listener);
    };
    componentFactory1("$", function(component){
        component1 = component;
        component1.setValue([1, 2, null], callback)
        document.getElementById("container1").appendChild(component1.render());
    });
    

</script>